.Clock_base--c5puj {
  color: #fff;
  font-size: 6rem;
  line-height: 1; }

.Clock_date--3bsUD {
  margin: 0 2rem 0 0; }

.Clock_month--38e_s {
  margin: 0 6rem 0 0; }
.Widget_base--311mA {
  position: relative;
  overflow: hidden;
  border-radius: 1.2rem; }
  .Widget_base--311mA:not(:last-child) {
    margin: 0 0 1.5rem; }

.Widget_header--3fyvn {
  position: relative;
  box-sizing: border-box;
  height: 8.4rem;
  padding: 0 4rem;
  overflow: hidden;
  border-radius: 1.2rem 1.2rem 0 0;
  background-color: #726662;
  color: #fff;
  font-size: 2.8rem;
  line-height: 8.4rem;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: .05em; }

.Widget_body--1EwT4 {
  display: table;
  box-sizing: border-box;
  width: 100%;
  border-radius: 0 0 1.2rem 1.2rem;
  background-color: #2e2826; }

.Widget_date--3PIZp {
  position: absolute;
  top: 0;
  right: 13rem;
  color: rgba(255, 255, 255, 0.8);
  font-size: 2.8rem; }

.Widget_icon--2vjIE {
  position: absolute;
  top: 0;
  right: 4rem;
  color: rgba(255, 255, 255, 0.8);
  font-size: 2.8rem; }
.WidgetTurnover_base--12_xT {
  position: relative;
  height: 193rem; }
  .WidgetTurnover_base--12_xT::after {
    position: absolute;
    top: 2rem;
    bottom: 2rem;
    left: 50%;
    width: 0;
    border-right: 1px dashed rgba(114, 102, 98, 0.7);
    content: ''; }

.WidgetTurnover_day--2gK8i,
.WidgetTurnover_month--1buGk {
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  padding: 0 10rem 0 16rem;
  vertical-align: top; }

.WidgetTurnover_item--ou1VN {
  display: table;
  width: 100%;
  height: 26rem; }
  .WidgetTurnover_item--ou1VN:not(:last-child) {
    border-bottom: 1px dashed rgba(114, 102, 98, 0.7); }

.WidgetTurnover_member--1PkDr {
  display: table-cell;
  vertical-align: middle; }

.WidgetTurnover_name--2pWUU {
  margin: 0 0 1rem;
  color: #726662;
  font-size: 4rem;
  line-height: 6rem; }

.WidgetTurnover_points--3Spw2 {
  color: #fff;
  font-size: 6rem;
  line-height: 1; }
  .WidgetTurnover_member--1PkDr.WidgetTurnover_isBest--26k0c .WidgetTurnover_points--3Spw2 {
    color: #f26d22; }

.WidgetTurnover_upLeader--31Gnj {
  color: rgba(255, 255, 255, 0.4);
  font-size: 3rem;
  line-height: 6rem; }

.WidgetTurnover_upLeaderPoints--3dPIV {
  margin: 0 2rem 0 0;
  color: #fff;
  font-size: 3.3rem;
  line-height: 6rem; }
.WidgetBorkHome_base--3J4Z7 {
  position: relative;
  display: table-cell;
  width: 100%;
  height: 30rem;
  text-align: center;
  vertical-align: middle; }
  .WidgetBorkHome_base--3J4Z7::after {
    position: absolute;
    top: -2rem;
    right: 50%;
    bottom: -2rem;
    width: 0;
    border-right: 1px dashed rgba(114, 102, 98, 0.7);
    content: ''; }

.WidgetBorkHome_month--2d_mf,
.WidgetBorkHome_year--C3AVC {
  display: inline-block;
  width: 50%;
  vertical-align: top; }
  .WidgetBorkHome_month--2d_mf.WidgetBorkHome_isLow--2p7iq,
  .WidgetBorkHome_year--C3AVC.WidgetBorkHome_isLow--2p7iq {
    color: #f86868; }
  .WidgetBorkHome_month--2d_mf.WidgetBorkHome_isMiddle--291rB,
  .WidgetBorkHome_year--C3AVC.WidgetBorkHome_isMiddle--291rB {
    color: #faff5e; }
  .WidgetBorkHome_month--2d_mf.WidgetBorkHome_isTop--2YgQA,
  .WidgetBorkHome_year--C3AVC.WidgetBorkHome_isTop--2YgQA {
    color: #bcffa4; }

.WidgetBorkHome_value--3Oowf {
  margin: 0 0 3rem;
  font-size: 13rem; }
  .WidgetBorkHome_value--3Oowf::after {
    font-size: 8rem;
    content: '%'; }

.WidgetBorkHome_caption--3tBV6 {
  color: #fff;
  font-size: 3rem;
  line-height: 1; }
.WidgetForecast_base--3rNp9 {
  display: table-cell;
  height: 21.6rem;
  font-size: 13rem;
  text-align: center;
  vertical-align: middle; }
  .WidgetForecast_base--3rNp9::after {
    font-size: 8rem;
    content: '%'; }
  .WidgetForecast_base--3rNp9.WidgetForecast_isLow--tyGA8 {
    color: #f86868; }
  .WidgetForecast_base--3rNp9.WidgetForecast_isMiddle--13HR8 {
    color: #faff5e; }
  .WidgetForecast_base--3rNp9.WidgetForecast_isTop--2bOCR {
    color: #bcffa4; }

.WidgetForecast_progressBar--3Kpct {
  position: absolute;
  bottom: 0;
  left: 0;
  height: .9rem; }
  .WidgetForecast_base--3rNp9.WidgetForecast_isLow--tyGA8 .WidgetForecast_progressBar--3Kpct {
    background-color: #f86868; }
  .WidgetForecast_base--3rNp9.WidgetForecast_isMiddle--13HR8 .WidgetForecast_progressBar--3Kpct {
    background-color: #faff5e; }
  .WidgetForecast_base--3rNp9.WidgetForecast_isTop--2bOCR .WidgetForecast_progressBar--3Kpct {
    background-color: #bcffa4; }
.Member_base--lAkgN {
  color: #e67e8b;
  font-size: 3rem;
  line-height: 4.2rem;
  white-space: nowrap; }
  .Member_base--lAkgN.Member_isLarge--3APmH {
    font-size: 3.5rem; }
  .Member_base--lAkgN.Member_isBest--2bWpU {
    color: #b4e186; }
.WidgetMembers_base--3CNS6 {
  box-sizing: border-box;
  height: 30.7rem;
  padding: 2.4rem 4rem; }

.WidgetMembers_table--1gRRM {
  width: 100%; }

.WidgetMembers_points--w647f {
  padding: 0 0 0 2rem;
  color: #fff;
  font-size: 3rem;
  line-height: 4.2rem;
  text-align: right; }

.WidgetMembers_divider--I9uZj {
  width: 100%;
  height: 0;
  margin: 1rem 0;
  border-top: 1px dashed rgba(114, 102, 98, 0.7); }

.WidgetMembers_emptyMessag--1jCJ7,
.WidgetMembers_errorMessag--UrR9o {
  width: 100%;
  padding: 10rem 0;
  color: #fff;
  font-size: 4rem;
  text-align: center; }
.Dashboard_base--3pfMc {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10.5rem 5rem 3rem;
  background: #3a3330; }

.Dashboard_clock--2M5xn {
  position: absolute;
  top: 2rem;
  right: 5rem; }

.Dashboard_column--CgogR {
  display: inline-block;
  height: 100%;
  vertical-align: top; }
  .Dashboard_column__half--2nhZ- {
    width: 50%; }
  .Dashboard_column__quarter--3i-gn {
    width: calc(25% - 2rem);
    margin: 0 0 0 2rem; }

.Dashboard_title--28NPY {
  margin: 4.6rem 0 3.4rem;
  color: #fff;
  font-size: 3.4rem;
  line-height: 1;
  text-transform: uppercase; }

.Dashboard_borkHome--3clQO {
  display: inline-block;
  width: 28.1rem;
  height: 2.8rem;
  background: url(images/dashboard-bork-home.jpg) center no-repeat/cover;
  vertical-align: middle; }
.Processing_base--3BD4c {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 5rem; }
  .Processing_base--3BD4c.Processing_isVisible--27m10 {
    display: table; }

.Processing_inner--RWVQM {
  display: table-cell;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle; }
/* stylelint-disable selector-list-comma-newline-after  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  font-size: 100%;
  vertical-align: baseline; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }

article,
aside,
audio,
canvas,
datalist,
details,
embed,
figcaption,
figure,
footer,
header,
keygen,
menu,
nav,
output,
progress,
section,
source,
video {
  display: block;
  margin: 0; }

body {
  line-height: 1; }

ol,
ul {
  list-style-type: none; }

blockquote, q {
  quotes: none; }

blockquote::before, blockquote::after,
q::before, q::after {
  content: normal; }

del {
  text-decoration: line-through; }

/* tables still need cellspacing='0' in the markup */
table {
  border-spacing: 0;
  border-collapse: collapse; }

td {
  vertical-align: top; }

button::-moz-focus-inner,
input[type='reset']::-moz-focus-inner,
input[type='button']::-moz-focus-inner,
input[type='submit']::-moz-focus-inner,
input[type='file'] > input[type='button']::-moz-focus-inner {
  border: none; }

input,
textarea,
button {
  font-family: inherit; }
  input:focus,
  textarea:focus,
  button:focus {
    outline: none; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #8b8980;
  font-size: 12px;
  text-transform: uppercase; }

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #8b8980;
  font-size: 12px;
  text-transform: uppercase; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #8b8980;
  font-size: 12px;
  text-transform: uppercase; }

::-ms-clear {
  display: none; }

input:-webkit-autofill {
  color: #000 !important; }

html {
  width: 100%;
  height: 100%;
  font-size: .46vh; }

body {
  width: 100%;
  height: 100%;
  font-family: Helvetica, Arial, sans-serif; }

.app {
  width: 100%;
  height: 100%; }
  .app > div {
    width: 100%;
    height: 100%; }
