html, body,
ul, li {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

.ui-menu-toggle {
  font-size: 24px;
  line-height: 36px;
  display: block;
  width: 36px;
  height: 36px;
  margin: 10px auto;
  text-align: center;
  color: rgba(0, 0, 0, .3);
}

.ui-menu-toggle:hover {
  color: rgba(0, 0, 0, 1);
}

.ui-menu {
  position: absolute;
  top: 50px;
  left: 50%;
  display: none;
  width: 720px;
  margin-left: -360px;
  list-style: none;
  text-align: center;
  -webkit-animation-duration: .5s;
     -moz-animation-duration: .5s;
      -mo-animation-duration: .5s;
       -o-animation-duration: .5s;
          animation-duration: .5s;
}

.ui-menu:after {
  display: table;
  clear: both;
  content: '';
}

.ui-menu_item {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  display: block;
  float: left;
  width: 130px;
  height: 95px;
  margin: 10px;
  padding: 50px 15px 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  border-radius: 10px;
  background-color: #d1d1c7;
  box-shadow: 0 3px 7px rgba(0, 0, 0, .3);
}

.ui-menu_item:hover {
  background-color: #e6e5e0; 
}

.ui-menu_icon {
  font-size: 30px;
  display: block;
  margin-bottom: 10px;
}

.ui-menu_label {
  
}