/* btn is-bg-white */
.product-new .is-bg-white {
    border: 1px solid rgba(151, 151, 151, .62);
    background: rgba(255, 255, 255, .6);
    color: #000000;
    font-family: "DINPro Medium", Arial, sans-serif;
    font-size: 15px;
}

/* product-top */

.product-new .product-top {
    background: none;
}

/* rating-list */

.product-new .rating-list {
    position: absolute;
    top: 10px;
    left: 19px;
}

/* product-tabs */

.product-new .product-tabs li a {
    border-top: 1px solid #e1e1e1;
    border-bottom: none;
    box-shadow: 0 1px 1px 0 #e1e1e1;
}

.product-new .product-tabs li.active a {
    box-shadow: none;
}

/* product-info */

.product-new .product-info {
    box-shadow: inset 0 6px 1px -5px rgba(0, 0, 0, .3);
    background: #f3f3f3;
}

.product-new .product-info:after {
    position: absolute;
    top: 1px;
    bottom: 0;
    left: 0;
    width: 1px;
    background: #e1e1e1;
    content: '';
}

/* product-options */

.product-new .product-options {
    position: static;
    margin: 0 0 28px 0;
    padding: 0 30px;
    background: rgba(72, 72, 72, .4);
}

.product-new .product-options > li {
    display: inline-block;
    vertical-align: middle;
}

.product-new .product-options > li > a {
    margin: 0;
    padding: 10px 0 9px;
}

.product-new .product-options > li:not(:last-child) > a {
    margin-right: 35px;
}

.product-new .product-options > li > a > span {
    display: inline-block;
    color: #fff;
    font-family: "DINPro Medium",Arial,sans-serif;
    font-size: 14px;
    line-height: 23px;
    text-transform: uppercase;
    vertical-align: middle;
}

.product-new .product-options > li > a > svg,
.product-new .product-options li a.product-options-share svg {
    display: inline-block;
    margin: 0 5px 0 0;
    vertical-align: middle;
}

/* product-delivery */

.product-new .product-delivery {
    margin: 0 0 0 30px;
}

.product-new .product-delivery td {
    border-bottom: 1px solid #e1e1e1;
    font-family: "DINPro Medium", Arial, sans-serif;
    font-size: 14px;
}

.product-new .product-delivery tr:first-child td {
    border-top: none;
}

.product-new .product-delivery td:first-child {
    padding-left: 0;
}

.product-new .product-delivery td:last-child {
    padding-right: 0;
}

.product-new .product-delivery-type {
    color: #008ac4;
}

/* product-buy */

.product-new .product-buy {
    margin: 0 0 20px 30px;
}

.product-new .product-buy-btn,
.product-new .product-buy-on-click-btn {
    min-width: 180px;
}

.product-new .product-buy-btn .btn-tobuy::before {
    position: relative;
    bottom: 1px;
    display: inline-block;
    width: 24px;
    height: 20px;
    margin-right: 6px;
    background-image: url('data:image/svg+xml,<svg%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20viewBox%3D"0%200%201241%201024"><path%20fill%3D"white"%20d%3D"M968.316%201022.673c51.88-8.474%2094.513-38.14%20116.78-81.255%2011.265-21.81%2016-41.104%2016-65.19%200-38.3-14.765-73.414-42.447-100.944-56.95-56.63-148.97-62.75-213.4-14.195l-10.34%207.78H391.44l-8.687-7.53c-10.354-8.97-22.253-16.98-33.42-22.486-4.485-2.21-8.16-4.6-8.167-5.307s-1.658-15.504-3.67-32.883-3.543-31.69-3.4-31.81c.14-.12%20176.153-19.85%20391.14-43.844%20370.28-41.33%20391.265-43.8%20398.116-46.88%208.605-3.86%2018.14-13.64%2021.102-21.64%201.103-2.98%2023.277-83.67%2049.276-179.308L1241%20203.31l-2.642-12.273c-1.663-7.727-3.833-14.036-5.858-17.035-3.642-5.39-11.346-11.093-19.16-14.185-4.908-1.94-34.776-2.15-414.834-2.877-225.25-.432-434.987-.864-466.076-.96l-56.527-.175-7.01-61.64c-6.794-59.755-7.126-61.88-10.86-69.466-4.293-8.72-10.915-14.93-20.583-19.29-5.592-2.53-8.772-2.83-37.753-3.62C182.29%201.31%20137.334.73%2099.793.49L31.535.055l-6.975%203.27C15.106%207.758%208.096%2014.39%203.96%2022.815c-4.668%209.504-4.863%2023.58-.463%2033.422%203.817%208.537%2013.984%2017.86%2023.39%2021.445%206.914%202.637%209.37%202.753%2080.88%203.82%2040.56.606%2073.88%201.236%2074.045%201.402s16.56%20143.788%2036.436%20319.148c28.723%20253.422%2035.812%20319.06%2034.546%20319.855-.876.556-2.778%201.02-4.226%201.03-5.315.038-26.882%206.223-37.415%2010.73-41.42%2017.717-71.854%2049.243-85.733%2088.805-10.827%2030.862-10.255%2067.575%201.515%2097.22%2020.603%2051.892%2070.173%2088.942%20128.573%2096.104%2067.043%208.22%20134.455-26.987%20162.677-84.963%2010.89-22.374%2015.745-45.416%2014.445-68.568l-.715-12.72H788.27l-.722%204.653c-5.405%2034.86%202.456%2070.71%2021.918%2099.96%2022.8%2034.266%2059.452%2058.456%20101.97%2067.297%2013.747%202.858%2043%203.484%2056.88%201.217zm-44.47-82.036c-12.908-3.083-22.71-8.723-33.027-19.004-14.09-14.04-19.72-27.03-19.72-45.5%200-24.582%2014.39-46.845%2037.6-58.176%2012.13-5.924%2021.61-8.126%2035-8.126%2020.82%200%2038.6%207.12%2052.67%2021.08%2026.45%2026.25%2026.54%2064.59.22%2090.65-19.06%2018.87-45.07%2025.69-72.75%2019.08zm-668.925-7.54c-11.55-2.876-23.83-9.97-32.93-19.016-26.27-26.13-26.22-64.47.12-90.62%2014.16-14.05%2031.84-21.07%2053.06-21.07%2019.95%200%2036.36%206.07%2050.12%2018.51%2033.638%2030.44%2028.82%2079.26-10.24%20103.89-16.64%2010.5-38.96%2013.58-60.12%208.31zm591.51-118.762c.82-1.795%202.26-3.263%203.19-3.263%201.21%200%20.91%201.076-1.04%203.708-3.23%204.367-4.24%204.157-2.14-.445zm-471.74-.78c-.73-1.366-1.05-2.483-.71-2.483s1.22%201.117%201.95%202.482c.73%201.365%201.05%202.482.71%202.482s-1.215-1.117-1.95-2.482zM324.46%20583.65c-.7-4.075-39.13-343.038-39.13-345.16%200-1.247%20855.863-.408%20857.117.84.84.84-70.112%20262.767-71.633%20264.455-.85.94-730.183%2083.29-741.688%2083.743-3.56.14-4.05-.264-4.672-3.876z"%2F><%2Fsvg>');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    vertical-align: middle;
    content: '';
}

.product-new .product-buy-price {
    color: #454545;
    font-family: "DINPro Medium", Arial, sans-serif;
    font-size: 13px;
}

.product-new .product-buy-price .price {
    font-size: 15px;
}

.product-new .product-buy-price-total {
    color: #000000;
    font-family: "DINPro Medium", Arial, sans-serif;
}

.product-new .product-buy-price-total .price {
    font-size: 32px;
}

.product-new .product-buy-saving {
    color: #454545;
    font-family: "DINPro Medium", Arial, sans-serif;
    font-size: 15px;
}

.product-new .product-buy-bonus {
    margin: 0 0 20px;
    color: #008ac4;
    font-family: "DINPro Medium", Arial, sans-serif;
    font-size: 15px;
}

/* map */

.map {
    margin: 0 0 60px;
}

.map-title {
    margin: 0 0 15px 0;
    padding: 0 30px;
}

.map-canvas {
    width: 100%;
    height: 450px;
}

.map-legend {
    margin: 0 0 15px 0;
    padding: 8px 30px 11px;
    background: #f3f3f3;
}

.map-legend-item {
    display: inline-block;
    vertical-align: top;
}

.map-legend-item:not(:last-child) {
    margin-right: 30px;
}

.map-legend-item img {
    display: inline-block;
    margin: 2px 4px 0 0;
    vertical-align: middle;
}

.map-legend-item span {
    display: inline-block;
    color: #444;
    font-family: "DINPro Medium", Arial, sans-serif;
    font-size: 14px;
    vertical-align: middle;
}

.map-info {
    position: relative;
    padding: 0 30px;
    color: rgba(68, 68, 68, .5);
    font-family: "DINPro Medium", Arial, sans-serif;
    font-size: 14px;
}

.map-info-link {
    position: absolute;
    top: 0;
    right: 30px;
}
