/* product-top */

.product-new .product-top {
    background: none;
}

/* rating-list */

.product-new .rating-list {
    position: absolute;
    top: 10px;
    left: 19px;
}

/* product-tabs */

.product-new .product-tabs li a {
    border-top: 1px solid #e1e1e1;
    border-bottom: none;
    box-shadow: 0 1px 1px 0 #e1e1e1;
}

.product-new .product-tabs li.active a {
    box-shadow: none;
}

/* product-info */

.product-new .product-info {
    padding: 0;
    box-shadow: inset 0 6px 1px -5px rgba(0, 0, 0, .3);
    background: #f3f3f3;
}

.product-new .product-info:after {
    position: absolute;
    top: 1px;
    bottom: 0;
    left: 0;
    width: 1px;
    background: #e1e1e1;
    content: "";
}

/* product-options */

.product-new .product-options {
    position: static;
    margin: 0 0 28px 0;
    padding: 0 30px;
    background: rgba(72, 72, 72, .4);
}

.product-new .product-options > li {
    display: inline-block;
    vertical-align: middle;
}

.product-new .product-options > li:not(:last-child) {
    margin-right: 5%;
}

.product-new .product-options > li > a {
    margin: 0;
    padding: 10px 0 9px;
}

.product-new .product-options > li:not(:last-child) > a {
    white-space: nowrap;
}

.product-new .product-options > li > a > span {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    line-height: 23px;
    text-transform: uppercase;
    vertical-align: middle;
}

.product-new .product-options > li > a > svg,
.product-new .product-options li a.product-options-share svg {
    display: inline-block;
    margin: 0 5px 0 0;
    vertical-align: middle;
}
