.checkbox {
    position: relative;
}

.checkbox input[type="checkbox"]  {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

.checkbox label {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    padding-left: 25px;
    cursor: pointer;
}

.checkbox label::before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 14px;
    border: 1px solid #D3D3D3;
    border-radius: 2px;
    content: "";
    transform: translateY(-50%);
}

.checkbox label span {
    color: rgba(0, 0, 0, .5);
    font-size: 14px;
}

.checkbox label span.price {
    color: rgba(0, 0, 0, .5);
    font-family: "DINPro Regular", Arial, sans-serif;
    font-size: 14px;
}

.checkbox input[type="checkbox"]:checked + label::before {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2023.99575%2017.994249%22%3E%3Cpath%20d%3D%22M21.652.22c-.293-.293-.77-.293-1.06%200L9.41%2011.35c-.293.298-.77.298-1.062%200l-4.9-4.99c-.144-.146-.334-.22-.525-.22-.193%200-.39.07-.536.22L.222%208.31C.078%208.456%200%208.64%200%208.834c0%20.194.078.397.223.544l4.94%205.183c.292.297.77.777%201.062%201.07l2.124%202.142c.29.293.767.293%201.06%200l14.366-14.34c.293-.294.293-.777%200-1.07L21.65.225z%22%20fill%3D%22%23008ac4%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90% 90%;
}
