.filter-select-items {
    margin: 0 0 14px 0;
}

.filter-select-item {
    display: inline-block;
    height: 27px;
    margin: 0 5px 0 0;
    padding: 0 10px;
    border: 1px solid #018AC4;
    background: #018AC4;
    color: #FFF;
    font-size: 14px;
    line-height: 23px;
    vertical-align: top;
}

.filter-select-item-cancel {
    display: inline-block;
    margin: 0 0 0 4px;
    vertical-align: top;
}

.filter-select-item-reset {
    display: inline-block;
    height: 27px;
    padding: 0 10px;
    border: 1px solid rgba(151, 151, 151, .62);
    background: #FFF;
    color: #444444;
    font-size: 14px;
    line-height: 23px;
    vertical-align: top;
    cursor: pointer;
}
