.icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: top;
}

.icon__19bar {
    width: 72px;
    height: 72px;
    margin: 0 0 22px;
    background-image: url("../images/icons/19bar.svg");
}

.icon__4cups {
    width: 72px;
    height: 72px;
    margin: 0 0 22px;
    background-image: url("../images/icons/4cups.svg");
}

.icon__frothing {
    width: 72px;
    height: 72px;
    margin: 0 0 22px;
    background-image: url("../images/icons/froathing.svg");
}

.icon__delivery {
    width: 44px;
    height: 50px;
    background-image: url("../images/icons/delivery.svg");
}

.icon__phone {
    width: 45px;
    height: 46px;
    background-image: url("../images/icons/phone.svg");
}

.icon__designer {
    width: 25px;
    height: 25px;
    background-image: url("../images/icons/designer.svg");
}

.icon__materials {
    width: 25px;
    height: 25px;
    background-image: url("../images/icons/materials.svg");
}

.icon__tank-volume {
    width: 16px;
    height: 24px;
    background-image: url("../images/icons/tank-volume.svg");
}

.icon__capsules {
    width: 24px;
    height: 20px;
    background-image: url("../images/icons/capsules.svg");
}

.icon__cup {
    width: 26px;
    height: 22px;
    background-image: url("../images/icons/cup.svg");
}

.icon__cappuccinator {
    width: 13px;
    height: 29px;
    background-image: url("../images/icons/cappuccinator.svg");
}

.icon__jar {
    width: 24px;
    height: 21px;
    background-image: url("../images/icons/jar.svg");
}

.icon__frequency-range {
    width: 24px;
    height: 16px;
    background-image: url("../images/icons/frequency-range.svg");
}

.icon__size {
    width: 21px;
    height: 28px;
    background-image: url("../images/icons/size.svg");
}

.icon__plug {
    width: 20px;
    height: 28px;
    background-image: url("../images/icons/plug.svg");
}

.icon__weight {
    width: 16px;
    height: 30px;
    background-image: url("../images/icons/weight.svg");
}

.icon__warranty {
    width: 24px;
    height: 24px;
    background-image: url("../images/icons/warranty.svg");
}

.icon__origin {
    width: 17px;
    height: 24px;
    background-image: url("../images/icons/origin.svg");
}
