.metro {
    position: relative;
    top: -1px;
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 9px 0 0;
    border-radius: 50%;
    vertical-align: middle;
}

.metro-grey {
    background: #8a8c8e;
}

.metro-orange {
    background: #f59331;
}

.metro-green {
    background: #a7cc46;
}

.metro-purpur {
    background: #b2268d;
}

.metro-yellow {
    background: #fedb32;
}

.metro-red {
    background: #ea212d;
}

.metro-brown {
    background: #9d543a;
}

.metro-blue {
    background: #0a56a4;
}
