.pickup-map {
    margin: 0 0 60px;
}

.pickup-map-title {
    margin: 0 0 15px 0;
    padding: 0 30px;
}

.pickup-map-canvas {
    width: 100%;
    height: 450px;
}

.pickup-map-legend {
    margin: 0 0 15px 0;
    padding: 8px 30px 11px;
    background: #f3f3f3;
}

.pickup-map-legend-item {
    display: inline-block;
    vertical-align: top;
}

.pickup-map-legend-item:not(:last-child) {
    margin-right: 30px;
}

.pickup-map-legend-item img {
    display: inline-block;
    margin: 2px 4px 0 0;
    vertical-align: middle;
}

.pickup-map-legend-item span {
    display: inline-block;
    color: #444;
    font-size: 14px;
    vertical-align: middle;
}

.pickup-map-info {
    position: relative;
    padding: 0 30px;
    color: rgba(68, 68, 68, .5);
    font-size: 14px;
}

.pickup-map-info-link {
    position: absolute;
    top: 0;
    right: 30px;
}
