.select {
    position: relative;
    display: inline-block;
    min-width: 280px;
}

.select-current-item {
    box-sizing: border-box;
    height: 28px;
    padding: 0 10px;
    border: 1px solid #ddd;
    background: #fff;
    color: #000;
    font-size: 15px;
    line-height: 24px;
    cursor: pointer;
}

.select-current-item-value {

}

.select-list {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 3px 0 0 0;
    padding: 10px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .3);
    background: #fff;
}

.select-item {
    color: #454545;
    font-size: 14px;
    line-height: 22px;
    cursor: pointer;
}

.select-item .metro {
    top: -2px;
}
