html {
  min-height: 100%; }

body {
  height: 100%;
  background: #1b1b1b;
  color: #fff;
  font-family: "AkzidenzGroteskProLight", Helvetica, Arial, sans-serif;
  letter-spacing: .4px; }
  @media all and (min-width: 320px) and (max-width: 767px) {
    body {
      font-size: 14px;
      line-height: 20px; } }
  @media all and (min-width: 768px) and (max-width: 1023px) {
    body {
      font-size: 15px;
      line-height: 23px; } }
  @media all and (min-width: 1024px) and (max-width: 1439px) {
    body {
      font-size: 16px;
      line-height: 24px; } }
  @media all and (min-width: 1440px) {
    body {
      font-size: 16px;
      line-height: 24px; } }

h1 {
  color: #fff;
  font-family: "BorkDisplayRegilar", Helvetica, Arial, sans-serif;
  word-spacing: 15px; }
  @media all and (min-width: 320px) and (max-width: 767px) {
    h1 {
      font-size: 18px;
      line-height: 24px; } }
  @media all and (min-width: 768px) and (max-width: 1023px) {
    h1 {
      margin: 0 0 18px;
      font-size: 20px;
      line-height: 32px; } }
  @media all and (min-width: 1024px) and (max-width: 1439px) {
    h1 {
      margin: 0 0 18px;
      font-size: 24px;
      line-height: 36px; } }
  @media all and (min-width: 1440px) {
    h1 {
      margin: 0 0 18px;
      font-size: 24px;
      line-height: 36px; } }

h2 {
  color: #fff;
  font-family: "AkzidenzGroteskProExt", Helvetica, Arial, sans-serif; }
  @media all and (min-width: 320px) and (max-width: 767px) {
    h2 {
      margin: 0 0 12px;
      font-size: 18px;
      line-height: 26px; } }
  @media all and (min-width: 768px) and (max-width: 1023px) {
    h2 {
      margin: 0 0 15px;
      font-size: 20px;
      line-height: 26px; } }
  @media all and (min-width: 1024px) and (max-width: 1439px) {
    h2 {
      margin: 0 0 25px;
      font-size: 24px;
      line-height: 32px; } }
  @media all and (min-width: 1440px) {
    h2 {
      margin: 0 0 25px;
      font-size: 24px;
      line-height: 32px; } }

h3 {
  margin: 0 0 10px;
  color: #fff;
  font-family: "AkzidenzGroteskProExt", Helvetica, Arial, sans-serif; }
  @media all and (min-width: 320px) and (max-width: 767px) {
    h3 {
      font-size: 18px;
      line-height: 26px; } }
  @media all and (min-width: 768px) and (max-width: 1023px) {
    h3 {
      font-size: 18px;
      line-height: 26px; } }
  @media all and (min-width: 1024px) and (max-width: 1439px) {
    h3 {
      font-size: 18px;
      line-height: 26px; } }
  @media all and (min-width: 1440px) {
    h3 {
      font-size: 18px;
      line-height: 26px; } }

p {
  margin: 0; }

a {
  color: #fff;
  text-decoration: none; }

a:hover {
  color: #ccc;
  text-decoration: none; }

button:focus {
  outline: none; }

@font-face {
  font-family: 'BorkDisplayRegilar';
  src: url("../fonts/Bork-Display-Regilar/Bork-Display-Regilar.eot");
  src: url("../fonts/Bork-Display-Regilar/Bork-Display-Regilar.woff") format("woff"), url("../fonts/Bork-Display-Regilar/Bork-Display-Regilar.ttf") format("truetype"), url("../fonts/Bork-Display-Regilar/Bork-Display-Regilar.svg#BorkDisplay-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'AkzidenzGroteskProLight';
  src: url("../fonts/AkzidenzGroteskPro-Light/AkzidenzGroteskPro-Light.eot");
  src: url("../fonts/AkzidenzGroteskPro-Light/AkzidenzGroteskPro-Light.woff") format("woff"), url("../fonts/AkzidenzGroteskPro-Light/AkzidenzGroteskPro-Light.ttf") format("truetype"), url("../fonts/AkzidenzGroteskPro-Light/AkzidenzGroteskPro-Light.svg#AkzidenzGroteskPro-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'AkzidenzGroteskProRegular';
  src: url("../fonts/AkzidenzGroteskPro-Regular/AkzidenzGroteskPro-Regular.eot");
  src: url("../fonts/AkzidenzGroteskPro-Regular/AkzidenzGroteskPro-Regular.woff") format("woff"), url("../fonts/AkzidenzGroteskPro-Regular/AkzidenzGroteskPro-Regular.ttf") format("truetype"), url("../fonts/AkzidenzGroteskPro-Regular/AkzidenzGroteskPro-Regular.svg#AkzidenzGroteskPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'AkzidenzGroteskProMd';
  src: url("../fonts/AkzidenzGroteskPro-Md/AkzidenzGroteskPro-Md.eot");
  src: url("../fonts/AkzidenzGroteskPro-Md/AkzidenzGroteskPro-Md.woff") format("woff"), url("../fonts/AkzidenzGroteskPro-Md/AkzidenzGroteskPro-Md.ttf") format("truetype"), url("../fonts/AkzidenzGroteskPro-Md/AkzidenzGroteskPro-Md.svg#AkzidenzGroteskPro-Md") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'AkzidenzGroteskProExt';
  src: url("../fonts/AkzidenzGroteskPro-Ext/AkzidenzGroteskPro-Ext.eot");
  src: url("../fonts/AkzidenzGroteskPro-Ext/AkzidenzGroteskPro-Ext.woff") format("woff"), url("../fonts/AkzidenzGroteskPro-Ext/AkzidenzGroteskPro-Ext.ttf") format("truetype"), url("../fonts/AkzidenzGroteskPro-Ext/AkzidenzGroteskPro-Ext.svg#AkzidenzGroteskPro-Ext") format("svg");
  font-weight: normal;
  font-style: normal; }

.boutiques {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around; }
  @media all and (min-width: 320px) and (max-width: 767px) {
    .boutiques {
      height: 485px; } }
  @media all and (min-width: 768px) and (max-width: 1023px) {
    .boutiques {
      height: 405px; } }
  @media all and (min-width: 1024px) and (max-width: 1439px) {
    .boutiques {
      height: 540px; } }
  @media all and (min-width: 1440px) {
    .boutiques {
      height: 645px; } }
  .boutiques_content {
    text-align: center; }
    @media all and (min-width: 320px) and (max-width: 767px) {
      .boutiques_content {
        width: 80%; } }
    @media all and (min-width: 768px) and (max-width: 1023px) {
      .boutiques_content {
        width: 60%; } }
    @media all and (min-width: 1024px) and (max-width: 1439px) {
      .boutiques_content {
        width: 40%; } }
    @media all and (min-width: 1440px) {
      .boutiques_content {
        width: 40%; } }

.button {
  display: inline-block;
  border: 2px solid #FC642A;
  background: transparent;
  color: #fff;
  font-family: "AkzidenzGroteskProMd", Helvetica, Arial, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  vertical-align: baseline;
  letter-spacing: 1.3px;
  cursor: pointer; }
  .button:hover {
    background: #fc642a; }
  .button__small {
    height: 35px;
    padding: 0 20px;
    border-radius: 26px; }
  .button__large {
    height: 54px;
    padding: 0 30px;
    border-radius: 37px; }

.choose-coffee {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end; }
  .choose-coffee_content {
    flex: 0 1 45%;
    text-align: center; }

.contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around; }
  @media all and (min-width: 320px) and (max-width: 767px) {
    .contacts {
      padding: 50px 0; } }
  @media all and (min-width: 768px) and (max-width: 1023px) {
    .contacts {
      padding: 60px 0; } }
  @media all and (min-width: 1024px) and (max-width: 1439px) {
    .contacts {
      padding: 70px 0; } }
  @media all and (min-width: 1440px) {
    .contacts {
      padding: 130px 0; } }
  .contacts_content {
    text-align: center; }
    @media all and (min-width: 320px) and (max-width: 767px) {
      .contacts_content {
        flex: 0 1 80%; } }
    @media all and (min-width: 768px) and (max-width: 1023px) {
      .contacts_content {
        flex: 0 1 39%; } }
    @media all and (min-width: 1024px) and (max-width: 1439px) {
      .contacts_content {
        flex: 0 1 35%; } }
    @media all and (min-width: 1440px) {
      .contacts_content {
        flex: 0 1 39%; } }
    @media all and (min-width: 320px) and (max-width: 767px) {
      .contacts_content__delivery {
        margin: 0 0 50px; } }
    .contacts_content__phone {
      padding: 4px 0 0;
      /* Compensations different icon height */ }
  .contacts_icon {
    margin: 0 0 27px; }
  .contacts_link {
    display: inline-block;
    font-family: "AkzidenzGroteskProMd", Helvetica, Arial, sans-serif;
    line-height: 16px;
    text-transform: uppercase;
    vertical-align: top;
    letter-spacing: 1.3px; }
    .contacts_link__order {
      margin: 26px 0 0;
      font-size: 13px;
      letter-spacing: 1.3px; }
    .contacts_link__phone {
      margin: 25px 0 0;
      font-size: 14px;
      letter-spacing: 1.4px; }

.container {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto; }
  @media all and (min-width: 320px) and (max-width: 767px) {
    .container {
      margin-right: 10px;
      margin-left: 10px; } }
  @media all and (min-width: 768px) and (max-width: 1023px) {
    .container {
      margin-right: 50px;
      margin-left: 50px; } }
  @media all and (min-width: 1024px) and (max-width: 1439px) {
    .container {
      margin-right: 75px;
      margin-left: 75px; } }
  @media all and (min-width: 1440px) {
    .container {
      margin-right: 195px;
      margin-left: 195px; } }

.footer {
  padding: 30px 0;
  text-align: center;
  opacity: .5; }

.frothing {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start; }
  .frothing_content {
    flex: 0 1 50%;
    text-align: center; }

.header {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 998;
  height: 55px;
  padding: 0 25px;
  background: #000;
  line-height: 55px;
  text-align: right; }
  .header_logo {
    position: absolute;
    top: 19px;
    left: 25px;
    width: 83px;
    height: 17px;
    line-height: 17px; }
  .header_brand {
    margin: 0 25px 0 0;
    font-family: "AkzidenzGroteskProMd", Helvetica, Arial, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px; }
  .header_phone {
    margin: 0 0 0 25px;
    color: #fc642a;
    font-size: 15px;
    letter-spacing: 0; }

.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: top; }
  .icon__19bar {
    width: 72px;
    height: 72px;
    margin: 0 0 22px;
    background-image: url("../images/icons/19bar.svg"); }
  .icon__4cups {
    width: 72px;
    height: 72px;
    margin: 0 0 22px;
    background-image: url("../images/icons/4cups.svg"); }
  .icon__frothing {
    width: 72px;
    height: 72px;
    margin: 0 0 22px;
    background-image: url("../images/icons/froathing.svg"); }
  .icon__delivery {
    width: 44px;
    height: 50px;
    background-image: url("../images/icons/delivery.svg"); }
  .icon__phone {
    width: 45px;
    height: 46px;
    background-image: url("../images/icons/phone.svg"); }
  .icon__designer {
    width: 25px;
    height: 25px;
    background-image: url("../images/icons/designer.svg"); }
  .icon__materials {
    width: 25px;
    height: 25px;
    background-image: url("../images/icons/materials.svg"); }
  .icon__tank-volume {
    width: 16px;
    height: 24px;
    background-image: url("../images/icons/tank-volume.svg"); }
  .icon__capsules {
    width: 24px;
    height: 20px;
    background-image: url("../images/icons/capsules.svg"); }
  .icon__cup {
    width: 26px;
    height: 22px;
    background-image: url("../images/icons/cup.svg"); }
  .icon__cappuccinator {
    width: 13px;
    height: 29px;
    background-image: url("../images/icons/cappuccinator.svg"); }
  .icon__jar {
    width: 24px;
    height: 21px;
    background-image: url("../images/icons/jar.svg"); }
  .icon__frequency-range {
    width: 24px;
    height: 16px;
    background-image: url("../images/icons/frequency-range.svg"); }
  .icon__size {
    width: 21px;
    height: 28px;
    background-image: url("../images/icons/size.svg"); }
  .icon__plug {
    width: 20px;
    height: 28px;
    background-image: url("../images/icons/plug.svg"); }
  .icon__weight {
    width: 16px;
    height: 30px;
    background-image: url("../images/icons/weight.svg"); }
  .icon__warranty {
    width: 24px;
    height: 24px;
    background-image: url("../images/icons/warranty.svg"); }
  .icon__origin {
    width: 17px;
    height: 24px;
    background-image: url("../images/icons/origin.svg"); }

.index {
  position: relative;
  top: 160px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-end; }
  .index_content {
    flex: 0 1 50%; }

.intro {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  height: 100%; }
  .intro_content {
    flex: 0 1 50%;
    text-align: center; }

.main {
  padding: 55px 0 0; }

.masterpiece {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start; }
  .masterpiece_content {
    flex: 0 1 40%; }
  .masterpiece_creatista {
    display: inline-block;
    margin: 65px 0 0;
    vertical-align: top; }

.model {
  position: relative;
  width: 418px;
  height: 540px;
  margin: 45px auto 65px; }
  .model_signature {
    position: absolute;
    bottom: 0;
    left: 100%;
    width: 242px;
    height: 40px; }

.order {
  margin: 32px 0 0; }
  .order_price {
    display: inline-block;
    margin: 0 0 0 20px;
    font-size: 18px;
    line-height: 27px;
    vertical-align: baseline; }

.quick-result {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start; }
  .quick-result_content {
    flex: 0 1 30%;
    text-align: center; }

.section__index {
  height: 835px; }

.section__intro {
  height: 950px;
  background: #000; }

.section__masterpiece {
  height: 775px; }

.section__video {
  height: 925px; }

.section__quick-result {
  height: 1020px;
  background: #000; }

.section__choose-coffee {
  height: 1295px;
  background: #000; }

.section__frothing {
  height: 925px;
  background: #000; }

.section__specifications {
  padding: 30px 0 50px;
  background-color: #151515;
  background-image: url("../images/pattern.png");
  background-repeat: repeat;
  background-position: center; }

.section__boutiques {
  background-image: url("../images/section-bg-boutiques.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.specifications {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-around; }
  .specifications_content {
    flex: 0 1 22%;
    margin: 0;
    padding: 0;
    list-style: none; }
  .specifications_item {
    position: relative;
    padding: 0 0 0 40px; }
    .specifications_item:not(:last-child) {
      margin: 0 0 22px; }
  .specifications_icon {
    position: absolute;
    top: 5px;
    left: 0; }
  .specifications_title {
    margin: 0 0 4px;
    font-family: "AkzidenzGroteskProMd", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: 1px; }
  .specifications_description {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0; }

.video {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  background-image: url("../images/video-bg.jpg");
  background-repeat: no-repeat;
  background-position: center; }
  .video_content {
    flex: 0 1 auto;
    text-align: center; }
  .video_play {
    display: inline-block;
    width: 96px;
    height: 96px;
    margin: 10px 0 0;
    border: none;
    background-color: transparent;
    background-image: url("../images/play-video.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    vertical-align: top;
    cursor: pointer; }
    .video_play:hover {
      background-position: -96px 0; }
