@media (max-width: 639px) {
  .hidden-phone,
  .visible-tablet,
  .visible-desktop {
    display: none !important; } }

@media all and (min-width: 640px) and (max-width: 939px) {
  .visible-phone,
  .hidden-tablet,
  .visible-desktop {
    display: none !important; } }

@media all and (min-width: 940px) and (max-width: 1280px) {
  .visible-phone,
  .visible-tablet,
  .hidden-desktop {
    display: none !important; } }

@media all and (min-width: 1281px) {
  .visible-phone,
  .visible-tablet,
  .hidden-desktop {
    display: none !important; } }

html {
  min-height: 100%; }

body {
  box-sizing: border-box;
  height: 100%;
  background: #1b1b1b;
  color: #fff;
  font-family: "AkzidenzGroteskProLight", Helvetica, Arial, sans-serif;
  letter-spacing: .4px; }
  @media (max-width: 639px) {
    body {
      min-width: 320px;
      font-size: 14px;
      line-height: 20px; } }
  @media all and (min-width: 640px) and (max-width: 939px) {
    body {
      min-width: 640px;
      font-size: 15px;
      line-height: 23px; } }
  @media all and (min-width: 940px) and (max-width: 1280px) {
    body {
      min-width: 940px;
      font-size: 16px;
      line-height: 24px; } }
  @media all and (min-width: 1281px) {
    body {
      min-width: 1281px;
      font-size: 16px;
      line-height: 24px; } }

h1 {
  color: #fff;
  font-family: "BorkDisplayRegilar", Helvetica, Arial, sans-serif; }
  @media (max-width: 639px) {
    h1 {
      font-size: 18px;
      line-height: 24px; } }
  @media all and (min-width: 640px) and (max-width: 939px) {
    h1 {
      margin: 0 0 18px;
      font-size: 20px;
      line-height: 32px; } }
  @media all and (min-width: 940px) and (max-width: 1280px) {
    h1 {
      margin: 0 0 18px;
      font-size: 24px;
      line-height: 36px; } }
  @media all and (min-width: 1281px) {
    h1 {
      margin: 0 0 18px;
      font-size: 24px;
      line-height: 36px; } }

h2 {
  color: #fff;
  font-family: "AkzidenzGroteskProExt", Helvetica, Arial, sans-serif; }
  @media (max-width: 639px) {
    h2 {
      margin: 0 0 12px;
      font-size: 18px;
      line-height: 25px; } }
  @media all and (min-width: 640px) and (max-width: 939px) {
    h2 {
      margin: 0 0 16px;
      font-size: 20px;
      line-height: 26px; } }
  @media all and (min-width: 940px) and (max-width: 1280px) {
    h2 {
      margin: 0 0 23px;
      font-size: 24px;
      line-height: 32px; } }
  @media all and (min-width: 1281px) {
    h2 {
      margin: 0 0 23px;
      font-size: 24px;
      line-height: 32px; } }

h3 {
  margin: 0 0 16px;
  color: #fff;
  font-family: "AkzidenzGroteskProExt", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 26px; }

p {
  margin: 0; }

a {
  color: #fff;
  text-decoration: none;
  transition: color .2s; }
  a:hover {
    color: #ccc;
    text-decoration: none; }

img {
  display: inline-block;
  vertical-align: top; }

button:focus {
  outline: none; }

@font-face {
  font-family: 'BorkDisplayRegilar';
  src: url("/assets/fonts/Bork-Display-Regilar/Bork-Display-Regilar.eot");
  src: url("/assets/fonts/Bork-Display-Regilar/Bork-Display-Regilar.woff") format("woff"), url("/assets/fonts/Bork-Display-Regilar/Bork-Display-Regilar.ttf") format("truetype"), url("/assets/fonts/Bork-Display-Regilar/Bork-Display-Regilar.svg#BorkDisplay-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'AkzidenzGroteskProLight';
  src: url("/assets/fonts/AkzidenzGroteskPro-Light/AkzidenzGroteskPro-Light.eot");
  src: url("/assets/fonts/AkzidenzGroteskPro-Light/AkzidenzGroteskPro-Light.woff") format("woff"), url("/assets/fonts/AkzidenzGroteskPro-Light/AkzidenzGroteskPro-Light.ttf") format("truetype"), url("/assets/fonts/AkzidenzGroteskPro-Light/AkzidenzGroteskPro-Light.svg#AkzidenzGroteskPro-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'AkzidenzGroteskProRegular';
  src: url("/assets/fonts/AkzidenzGroteskPro-Regular/AkzidenzGroteskPro-Regular.eot");
  src: url("/assets/fonts/AkzidenzGroteskPro-Regular/AkzidenzGroteskPro-Regular.woff") format("woff"), url("/assets/fonts/AkzidenzGroteskPro-Regular/AkzidenzGroteskPro-Regular.ttf") format("truetype"), url("/assets/fonts/AkzidenzGroteskPro-Regular/AkzidenzGroteskPro-Regular.svg#AkzidenzGroteskPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'AkzidenzGroteskProMd';
  src: url("/assets/fonts/AkzidenzGroteskPro-Md/AkzidenzGroteskPro-Md.eot");
  src: url("/assets/fonts/AkzidenzGroteskPro-Md/AkzidenzGroteskPro-Md.woff") format("woff"), url("/assets/fonts/AkzidenzGroteskPro-Md/AkzidenzGroteskPro-Md.ttf") format("truetype"), url("/assets/fonts/AkzidenzGroteskPro-Md/AkzidenzGroteskPro-Md.svg#AkzidenzGroteskPro-Md") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'AkzidenzGroteskProExt';
  src: url("/assets/fonts/AkzidenzGroteskPro-Ext/AkzidenzGroteskPro-Ext.eot");
  src: url("/assets/fonts/AkzidenzGroteskPro-Ext/AkzidenzGroteskPro-Ext.woff") format("woff"), url("/assets/fonts/AkzidenzGroteskPro-Ext/AkzidenzGroteskPro-Ext.ttf") format("truetype"), url("/assets/fonts/AkzidenzGroteskPro-Ext/AkzidenzGroteskPro-Ext.svg#AkzidenzGroteskPro-Ext") format("svg");
  font-weight: normal;
  font-style: normal; }

.boutiques {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around; }
  @media (max-width: 639px) {
    .boutiques {
      min-height: 485px; } }
  @media all and (min-width: 640px) and (max-width: 939px) {
    .boutiques {
      min-height: 405px; } }
  @media all and (min-width: 940px) and (max-width: 1280px) {
    .boutiques {
      min-height: 540px; } }
  @media all and (min-width: 1281px) {
    .boutiques {
      min-height: 645px; } }
  .boutiques_content {
    text-align: center; }
    @media (max-width: 639px) {
      .boutiques_content {
        width: 70%; } }
    @media all and (min-width: 640px) and (max-width: 939px) {
      .boutiques_content {
        width: 60%; } }
    @media all and (min-width: 940px) and (max-width: 1280px) {
      .boutiques_content {
        width: 40%; } }
    @media all and (min-width: 1281px) {
      .boutiques_content {
        width: 40%; } }

.button {
  display: inline-block;
  border: 2px solid #FC642A;
  background: transparent;
  color: #fff;
  font-family: "AkzidenzGroteskProMd", Helvetica, Arial, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  vertical-align: baseline;
  letter-spacing: 1.3px;
  cursor: pointer;
  transition: background .2s; }
  .button:hover {
    background: #fc642a; }
  .button__small {
    height: 35px;
    padding: 0 20px;
    border-radius: 26px; }
    @media (max-width: 639px) {
      .button__small {
        height: 32px;
        font-size: 11px;
        letter-spacing: .6px; } }
    @media all and (min-width: 640px) and (max-width: 939px) {
      .button__small {
        height: 35px;
        font-size: 11px;
        letter-spacing: 1.3px; } }
    @media all and (min-width: 940px) and (max-width: 1280px) {
      .button__small {
        height: 35px;
        font-size: 13px;
        letter-spacing: 1.3px; } }
    @media all and (min-width: 1281px) {
      .button__small {
        height: 35px;
        font-size: 13px;
        letter-spacing: 1.3px; } }
  .button__large {
    height: 54px;
    padding: 0 30px;
    border-radius: 37px; }

.choose-coffee {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end; }
  .choose-coffee_content {
    flex: 0 1 45%;
    text-align: center; }

.contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around; }
  @media (max-width: 639px) {
    .contacts {
      padding-top: 50px;
      padding-bottom: 50px; } }
  @media all and (min-width: 640px) and (max-width: 939px) {
    .contacts {
      padding-top: 60px;
      padding-bottom: 60px; } }
  @media all and (min-width: 940px) and (max-width: 1280px) {
    .contacts {
      padding-top: 70px;
      padding-bottom: 70px; } }
  @media all and (min-width: 1281px) {
    .contacts {
      padding-top: 130px;
      padding-bottom: 130px; } }
  .contacts_content {
    text-align: center; }
    @media (max-width: 639px) {
      .contacts_content {
        flex: 0 1 80%; } }
    @media all and (min-width: 640px) and (max-width: 939px) {
      .contacts_content {
        flex: 0 1 39%; } }
    @media all and (min-width: 940px) and (max-width: 1280px) {
      .contacts_content {
        flex: 0 1 39%; } }
    @media all and (min-width: 1281px) {
      .contacts_content {
        flex: 0 1 35%; } }
    @media (max-width: 639px) {
      .contacts_content__delivery {
        margin: 0 0 50px; } }
    .contacts_content__phone {
      padding: 4px 0 0;
      /* Compensations different icon height */ }
  .contacts_icon {
    margin: 0 0 27px; }
  .contacts_link {
    display: inline-block;
    font-family: "AkzidenzGroteskProMd", Helvetica, Arial, sans-serif;
    line-height: 16px;
    text-transform: uppercase;
    vertical-align: top;
    letter-spacing: 1.3px; }
    .contacts_link__order {
      margin: 26px 0 0;
      font-size: 13px;
      letter-spacing: 1.3px; }
    .contacts_link__phone {
      margin: 25px 0 0;
      font-size: 14px;
      letter-spacing: 1.4px; }

.container {
  box-sizing: border-box;
  margin: 0 auto; }
  @media (max-width: 639px) {
    .container {
      min-width: 320px;
      max-width: 639px;
      padding-right: 10px;
      padding-left: 10px; } }
  @media all and (min-width: 640px) and (max-width: 939px) {
    .container {
      min-width: 640px;
      max-width: 939px;
      padding-right: 20px;
      padding-left: 20px; } }
  @media all and (min-width: 940px) and (max-width: 1280px) {
    .container {
      min-width: 940px;
      max-width: 1280px;
      padding-right: 30px;
      padding-left: 30px; } }
  @media all and (min-width: 1281px) {
    .container {
      min-width: 1281px;
      max-width: 1440px;
      padding-right: 40px;
      padding-left: 40px; } }

.dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  display: none;
  overflow-y: auto; }
  .dialog__visible {
    display: block; }
  .dialog_container {
    width: 100%;
    height: 100%; }
  .dialog_inner {
    height: 100%;
    padding: 50px 0;
    text-align: center;
    vertical-align: middle; }
    @media (max-width: 639px) {
      .dialog_inner {
        padding: 0; } }
  .dialog_modal {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 510px;
    margin: 0 auto;
    padding: 0 65px;
    background: #262626;
    text-align: left;
    vertical-align: top; }
    @media (max-width: 639px) {
      .dialog_modal {
        width: 100%;
        min-height: 100%;
        padding: 0 25px; } }
  .dialog_header {
    position: relative;
    height: 42px;
    margin: 0 -25px;
    padding: 0 25px;
    background: #000;
    color: #e6e6e6;
    font-family: "AkzidenzGroteskProMd", Helvetica, Arial, sans-serif;
    font-size: 11px;
    line-height: 42px;
    text-transform: uppercase;
    letter-spacing: .6px; }
  .dialog_close {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 13px;
    height: 12px;
    background: url("/assets/images/dialog-close.png") center no-repeat;
    cursor: pointer; }
    @media (max-width: 639px) {
      .dialog_close {
        top: 15px;
        right: 15px; } }

.footer {
  padding: 30px 0;
  text-align: center;
  opacity: .5; }

.form_item:not(:last-child) {
  margin: 0 0 32px; }
  @media (max-width: 639px) {
    .form_item:not(:last-child) {
      margin: 0 0 15px; } }

.form_label {
  display: block;
  margin: 0 0 14px; }
  @media (max-width: 639px) {
    .form_label {
      margin: 0 0 8px; } }

.form_input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  padding: 0 24px;
  border: none;
  background: #1b1b1b;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  transition: background .2s; }
  @media (max-width: 639px) {
    .form_input {
      height: 40px;
      padding: 0 16px;
      font-size: 14px;
      letter-spacing: .4px; } }
  .form_input:focus {
    outline: none;
    background: #151515; }

.form_submit {
  margin: 64px 0 0;
  text-align: center; }
  @media (max-width: 639px) {
    .form_submit {
      margin: 32px 0 0; } }

.frothing {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box; }
  @media (max-width: 639px) {
    .frothing {
      padding-top: 30px;
      padding-bottom: 30px; } }
  @media all and (min-width: 640px) and (max-width: 939px) {
    .frothing {
      height: 655px;
      padding-top: 50px;
      padding-bottom: 50px; } }
  @media all and (min-width: 940px) and (max-width: 1280px) {
    .frothing {
      height: 770px;
      padding-top: 70px;
      padding-bottom: 70px; } }
  @media all and (min-width: 1281px) {
    .frothing {
      height: 930px;
      padding-top: 70px;
      padding-bottom: 70px; } }
  .frothing_content {
    text-align: center; }
    @media (max-width: 639px) {
      .frothing_content {
        flex: 0 1 90%; } }
    @media all and (min-width: 640px) and (max-width: 939px) {
      .frothing_content {
        flex: 0 1 39%; } }
    @media all and (min-width: 940px) and (max-width: 1280px) {
      .frothing_content {
        flex: 0 1 39%; } }
    @media all and (min-width: 1281px) {
      .frothing_content {
        flex: 0 1 39%; } }
    @media (max-width: 639px) {
      .frothing_content__text {
        margin: 0 0 60px; } }
  @media (max-width: 639px) {
    .frothing_photo {
      width: 100%; } }

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  box-sizing: border-box; }
  @media (max-width: 639px) {
    .gallery {
      padding: 65px 0 0; } }
  @media all and (min-width: 640px) and (max-width: 939px) {
    .gallery {
      padding: 95px 0 0; } }
  @media all and (min-width: 940px) and (max-width: 1280px) {
    .gallery {
      padding: 130px 0 0; } }
  @media all and (min-width: 1281px) {
    .gallery {
      padding: 150px 0 0; } }
  .gallery_content {
    text-align: center; }
    @media (max-width: 639px) {
      .gallery_content {
        flex: 0 1 90%; } }
    @media all and (min-width: 640px) and (max-width: 939px) {
      .gallery_content {
        flex: 0 1 39%; } }
    @media all and (min-width: 940px) and (max-width: 1280px) {
      .gallery_content {
        flex: 0 1 39%; } }
    @media all and (min-width: 1281px) {
      .gallery_content {
        flex: 0 1 39%; } }
  @media (max-width: 639px) {
    .gallery_carousel {
      margin: 60px 0 0; } }
  @media all and (min-width: 640px) and (max-width: 939px) {
    .gallery_carousel {
      margin: 95px 0 0; } }
  @media all and (min-width: 940px) and (max-width: 1280px) {
    .gallery_carousel {
      margin: 65px 0 0; } }
  @media all and (min-width: 1281px) {
    .gallery_carousel {
      margin: 70px 0 0; } }

.header {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 997;
  background: #000;
  text-align: right; }
  @media (max-width: 639px) {
    .header {
      height: 43px;
      padding: 0 10px;
      line-height: 43px; } }
  @media all and (min-width: 640px) and (max-width: 939px) {
    .header {
      height: 55px;
      padding: 0 25px;
      line-height: 55px; } }
  @media all and (min-width: 940px) and (max-width: 1280px) {
    .header {
      height: 55px;
      padding: 0 25px;
      line-height: 55px; } }
  @media all and (min-width: 1281px) {
    .header {
      height: 55px;
      padding: 0 25px;
      line-height: 55px; } }
  .header_logo {
    position: absolute;
    width: 83px;
    height: 17px;
    line-height: 17px; }
    @media (max-width: 639px) {
      .header_logo {
        top: 14px;
        left: 10px;
        width: 71px;
        height: 15px; } }
    @media all and (min-width: 640px) and (max-width: 939px) {
      .header_logo {
        top: 19px;
        left: 25px;
        width: 83px;
        height: 17px; } }
    @media all and (min-width: 940px) and (max-width: 1280px) {
      .header_logo {
        top: 19px;
        left: 25px;
        width: 83px;
        height: 17px; } }
    @media all and (min-width: 1281px) {
      .header_logo {
        top: 19px;
        left: 25px;
        width: 83px;
        height: 17px; } }
  .header_brand {
    font-family: "AkzidenzGroteskProMd", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px; }
    @media (max-width: 639px) {
      .header_brand {
        display: none; } }
    @media all and (min-width: 640px) and (max-width: 939px) {
      .header_brand {
        margin: 0 20px 0 0;
        font-size: 13px; } }
    @media all and (min-width: 940px) and (max-width: 1280px) {
      .header_brand {
        margin: 0 24px 0 0;
        font-size: 15px; } }
    @media all and (min-width: 1281px) {
      .header_brand {
        margin: 0 24px 0 0;
        font-size: 15px; } }
  @media (max-width: 639px) {
    .header_button {
      display: none; } }
  .header_phone {
    letter-spacing: 0; }
    @media (max-width: 639px) {
      .header_phone {
        color: #fff;
        font-size: 13px; } }
    @media all and (min-width: 640px) and (max-width: 939px) {
      .header_phone {
        margin: 0 0 0 20px;
        color: #fc642a;
        font-size: 13px; } }
    @media all and (min-width: 940px) and (max-width: 1280px) {
      .header_phone {
        margin: 0 0 0 24px;
        color: #fc642a;
        font-size: 15px; } }
    @media all and (min-width: 1281px) {
      .header_phone {
        margin: 0 0 0 24px;
        color: #fc642a;
        font-size: 15px; } }

.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: top; }
  .icon__19bar {
    width: 72px;
    height: 72px;
    background-image: url("/assets/images/icons/19bar.svg"); }
  .icon__4cups {
    width: 72px;
    height: 72px;
    background-image: url("/assets/images/icons/4cups.svg"); }
  .icon__frothing {
    width: 72px;
    height: 72px;
    background-image: url("/assets/images/icons/froathing.svg"); }
  .icon__complete {
    width: 72px;
    height: 72px;
    background-image: url("/assets/images/icons/complete.svg"); }
  .icon__delivery {
    width: 44px;
    height: 50px;
    background-image: url("/assets/images/icons/delivery.svg"); }
  .icon__phone {
    width: 45px;
    height: 46px;
    background-image: url("/assets/images/icons/phone.svg"); }
  .icon__designer {
    width: 25px;
    height: 25px;
    background-image: url("/assets/images/icons/designer.svg"); }
  .icon__materials {
    width: 25px;
    height: 25px;
    background-image: url("/assets/images/icons/materials.svg"); }
  .icon__tank-volume {
    width: 16px;
    height: 24px;
    background-image: url("/assets/images/icons/tank-volume.svg"); }
  .icon__capsules {
    width: 24px;
    height: 20px;
    background-image: url("/assets/images/icons/capsules.svg"); }
  .icon__cup {
    width: 26px;
    height: 22px;
    background-image: url("/assets/images/icons/cup.svg"); }
  .icon__cappuccinator {
    width: 13px;
    height: 29px;
    background-image: url("/assets/images/icons/cappuccinator.svg"); }
  .icon__jar {
    width: 24px;
    height: 21px;
    background-image: url("/assets/images/icons/jar.svg"); }
  .icon__frequency-range {
    width: 24px;
    height: 16px;
    background-image: url("/assets/images/icons/frequency-range.svg"); }
  .icon__size {
    width: 21px;
    height: 28px;
    background-image: url("/assets/images/icons/size.svg"); }
  .icon__plug {
    width: 20px;
    height: 28px;
    background-image: url("/assets/images/icons/plug.svg"); }
  .icon__weight {
    width: 16px;
    height: 30px;
    background-image: url("/assets/images/icons/weight.svg"); }
  .icon__warranty {
    width: 24px;
    height: 24px;
    background-image: url("/assets/images/icons/warranty.svg"); }
  .icon__origin {
    width: 17px;
    height: 24px;
    background-image: url("/assets/images/icons/origin.svg"); }
  .icon__card {
    width: 30px;
    height: 20px;
    background-image: url("/assets/images/icons/card.svg"); }
  .icon__social-fb {
    width: 32px;
    height: 32px;
    background-image: url("/assets/images/icons/social-fb.svg"); }
  .icon__social-youtube {
    width: 28px;
    height: 32px;
    background-image: url("/assets/images/icons/social-youtube.svg"); }
  .icon__social-instagram {
    width: 32px;
    height: 32px;
    background-image: url("/assets/images/icons/social-instagram.svg"); }
  .icon__social-vk {
    width: 40px;
    height: 23px;
    background-image: url("/assets/images/icons/social-vk.svg"); }

.index {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  box-sizing: border-box; }
  @media (max-width: 639px) {
    .index {
      justify-content: space-around;
      height: 560px;
      margin: 43px 0 0;
      padding: 30px 0 40px;
      text-align: center; } }
  @media all and (min-width: 640px) and (max-width: 939px) {
    .index {
      justify-content: flex-end;
      height: 585px;
      padding: 100px 0 0; } }
  @media all and (min-width: 940px) and (max-width: 1280px) {
    .index {
      justify-content: flex-end;
      height: 615px;
      padding: 105px 120px 0; } }
  @media all and (min-width: 1281px) {
    .index {
      justify-content: flex-end;
      height: 835px;
      padding: 160px 190px 0; } }
  @media (max-width: 639px) {
    .index_content {
      flex: 0 1 70%; } }
  @media all and (min-width: 640px) and (max-width: 939px) {
    .index_content {
      flex: 0 1 50%; } }
  @media all and (min-width: 940px) and (max-width: 1280px) {
    .index_content {
      flex: 0 1 50%; } }
  @media all and (min-width: 1281px) {
    .index_content {
      flex: 0 1 50%; } }
  @media (max-width: 639px) {
    .index_content__title {
      align-self: flex-start; } }
  @media all and (min-width: 640px) and (max-width: 939px) {
    .index_content__title {
      align-self: flex-start; } }
  @media (max-width: 639px) {
    .index_content__text {
      align-self: flex-end; } }

@media (max-width: 639px) {
  .main {
    padding: 43px 0 0; } }

@media all and (min-width: 640px) and (max-width: 939px) {
  .main {
    padding: 55px 0 0; } }

@media all and (min-width: 940px) and (max-width: 1280px) {
  .main {
    padding: 55px 0 0; } }

@media all and (min-width: 1281px) {
  .main {
    padding: 55px 0 0; } }

.masterpiece {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around; }
  @media (max-width: 639px) {
    .masterpiece {
      padding-top: 60px;
      padding-bottom: 60px; } }
  @media all and (min-width: 640px) and (max-width: 939px) {
    .masterpiece {
      padding-top: 100px;
      padding-bottom: 100px; } }
  @media all and (min-width: 940px) and (max-width: 1280px) {
    .masterpiece {
      padding-top: 130px;
      padding-bottom: 130px; } }
  @media all and (min-width: 1281px) {
    .masterpiece {
      padding-top: 130px;
      padding-bottom: 130px; } }
  @media (max-width: 639px) {
    .masterpiece_content {
      flex: 0 1 90%; } }
  @media all and (min-width: 640px) and (max-width: 939px) {
    .masterpiece_content {
      flex: 0 1 39%; } }
  @media all and (min-width: 940px) and (max-width: 1280px) {
    .masterpiece_content {
      flex: 0 1 39%; } }
  @media all and (min-width: 1281px) {
    .masterpiece_content {
      flex: 0 1 39%; } }
  .masterpiece_photo {
    width: 100%; }
  .masterpiece_creatista {
    max-width: 330px;
    margin: 65px 0 0; }

.model {
  position: relative;
  margin: 45px auto 65px;
  text-align: center; }
  @media (max-width: 639px) {
    .model_photo {
      display: none; } }
  @media all and (min-width: 640px) and (max-width: 939px) {
    .model_photo {
      width: 330px;
      height: 426px; } }
  @media all and (min-width: 940px) and (max-width: 1280px) {
    .model_photo {
      width: 330px;
      height: 426px; } }
  @media all and (min-width: 1281px) {
    .model_photo {
      width: 418px;
      height: 540px; } }
  .model_signature {
    position: absolute;
    right: 0;
    bottom: 0; }
    @media (max-width: 639px) {
      .model_signature {
        display: none; } }
    @media all and (min-width: 640px) and (max-width: 939px) {
      .model_signature {
        width: 164px;
        height: 27px; } }
    @media all and (min-width: 940px) and (max-width: 1280px) {
      .model_signature {
        width: 242px;
        height: 40px; } }
    @media all and (min-width: 1281px) {
      .model_signature {
        width: 242px;
        height: 40px; } }

@media (max-width: 639px) {
  .order-block {
    position: fixed;
    top: 43px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 997;
    height: 42px;
    padding: 0 10px;
    background: #151515;
    line-height: 42px;
    text-align: right; } }

@media all and (min-width: 640px) and (max-width: 939px) {
  .order-block {
    margin: 32px 0 0; } }

@media all and (min-width: 940px) and (max-width: 1280px) {
  .order-block {
    margin: 32px 0 0; } }

@media all and (min-width: 1281px) {
  .order-block {
    margin: 32px 0 0; } }

.order-block_price {
  display: inline-block;
  font-size: 18px;
  line-height: 27px;
  vertical-align: baseline; }
  @media all and (min-width: 640px) and (max-width: 939px) {
    .order-block_price {
      margin: 0 0 0 25px; } }
  @media all and (min-width: 940px) and (max-width: 1280px) {
    .order-block_price {
      margin: 0 0 0 25px; } }
  @media all and (min-width: 1281px) {
    .order-block_price {
      margin: 0 0 0 25px; } }

.order-complete {
  display: none;
  padding: 65px 0;
  text-align: center; }
  @media (max-width: 639px) {
    .order-complete {
      padding: 40px 0; } }
  .order-complete__visible {
    display: block; }
  .order-complete_icon {
    margin: 0 0 35px; }
    @media (max-width: 639px) {
      .order-complete_icon {
        margin: 0 0 28px; } }

.order-info {
  position: relative;
  padding: 0 0 0 55px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .35px; }
  @media (max-width: 639px) {
    .order-info {
      padding: 0 0 0 45px;
      font-size: 12px;
      line-height: 16px; } }
  .order-info_icon {
    position: absolute;
    top: 5px;
    left: 0; }
  .order-info_link {
    font-family: "AkzidenzGroteskProMd", Helvetica, Arial, sans-serif; }

.order {
  display: none;
  padding: 50px 0 30px; }
  @media (max-width: 639px) {
    .order {
      padding: 30px 0 40px; } }
  .order__visible {
    display: block; }
  .order_title {
    margin: 0 0 50px;
    text-align: center; }
    @media (max-width: 639px) {
      .order_title {
        margin: 0 0 25px; } }
  .order_form {
    margin: 0 0 40px; }
    @media (max-width: 639px) {
      .order_form {
        margin: 0 0 25px; } }

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 998;
  display: none;
  background: rgba(0, 0, 0, 0.75); }
  .overlay__visible {
    display: block; }

@media (max-width: 639px) {
  .owl-carousel-gallery .owl-item {
    height: 197px;
    margin: 8px 0; } }

@media all and (min-width: 640px) and (max-width: 939px) {
  .owl-carousel-gallery .owl-item {
    height: 264px;
    margin: 12px 0; } }

@media all and (min-width: 940px) and (max-width: 1280px) {
  .owl-carousel-gallery .owl-item {
    height: 353px;
    margin: 16px 0; } }

@media all and (min-width: 1281px) {
  .owl-carousel-gallery .owl-item {
    height: 492px;
    margin: 24px 0; } }

.owl-carousel-gallery .owl-item.center {
  margin: 0; }
  @media (max-width: 639px) {
    .owl-carousel-gallery .owl-item.center {
      height: 213px; } }
  @media all and (min-width: 640px) and (max-width: 939px) {
    .owl-carousel-gallery .owl-item.center {
      height: 288px; } }
  @media all and (min-width: 940px) and (max-width: 1280px) {
    .owl-carousel-gallery .owl-item.center {
      height: 385px; } }
  @media all and (min-width: 1281px) {
    .owl-carousel-gallery .owl-item.center {
      height: 540px; } }

.owl-carousel-gallery .owl-item img {
  height: 100%; }

.owl-dots {
  width: 50%;
  height: 2px;
  margin: 10px auto 0;
  background: rgba(252, 100, 42, 0.3); }

.owl-dot {
  display: inline-block;
  width: 25%;
  height: 100%;
  vertical-align: top; }
  .owl-dot.active {
    background: #fc642a; }

.quick-result {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box; }
  @media (max-width: 639px) {
    .quick-result {
      padding-top: 60px;
      padding-bottom: 60px; } }
  @media all and (min-width: 640px) and (max-width: 939px) {
    .quick-result {
      padding-top: 100px;
      padding-bottom: 100px; } }
  @media all and (min-width: 940px) and (max-width: 1280px) {
    .quick-result {
      padding-top: 130px;
      padding-bottom: 130px; } }
  @media all and (min-width: 1281px) {
    .quick-result {
      padding-top: 130px;
      padding-bottom: 130px; } }
  .quick-result_content {
    text-align: center; }
    @media (max-width: 639px) {
      .quick-result_content {
        flex: 0 1 90%; } }
    @media all and (min-width: 640px) and (max-width: 939px) {
      .quick-result_content {
        flex: 0 1 39%; } }
    @media all and (min-width: 940px) and (max-width: 1280px) {
      .quick-result_content {
        flex: 0 1 39%; } }
    @media all and (min-width: 1281px) {
      .quick-result_content {
        flex: 0 1 39%; } }
    @media (max-width: 639px) {
      .quick-result_content__text {
        margin: 0 0 60px; } }
  .quick-result_photo {
    width: 100%; }

.section__index {
  background-image: url("/assets/images/index.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  @media (max-width: 639px) {
    .section__index {
      background-image: url("/assets/images/index-phone.jpg");
      background-size: auto; } }

.section__gallery {
  position: relative; }
  .section__gallery::after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
    background: #000;
    content: ''; }
    @media (max-width: 639px) {
      .section__gallery::after {
        height: 380px; } }
    @media all and (min-width: 640px) and (max-width: 939px) {
      .section__gallery::after {
        height: 480px; } }
    @media all and (min-width: 940px) and (max-width: 1280px) {
      .section__gallery::after {
        height: 520px; } }
    @media all and (min-width: 1281px) {
      .section__gallery::after {
        height: 600px; } }

.section__quick-result {
  background: #000; }

.section__choose-coffee {
  background: #000; }

.section__frothing {
  background-color: #000;
  background-repeat: no-repeat; }
  @media (max-width: 639px) {
    .section__frothing {
      background: none; } }
  @media all and (min-width: 640px) and (max-width: 939px) {
    .section__frothing {
      background-image: url("/assets/images/frothing-tablet.png");
      background-position: center; } }
  @media all and (min-width: 940px) and (max-width: 1280px) {
    .section__frothing {
      background-image: url("/assets/images/frothing-desktop.png");
      background-position: center; } }
  @media all and (min-width: 1281px) {
    .section__frothing {
      background-image: url("/assets/images/frothing-extra-desktop.png");
      background-position: center; } }

.section__specifications {
  padding: 30px 0;
  background-color: #151515;
  background-image: url("/assets/images/specifications.png");
  background-repeat: repeat;
  background-position: center; }
  @media (max-width: 639px) {
    .section__specifications {
      background: none; } }

.section__boutiques {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .section__boutiques::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.5);
    content: ''; }

@media (max-width: 639px) {
  .section_icon {
    margin: 0 0 15px; } }

@media all and (min-width: 640px) and (max-width: 939px) {
  .section_icon {
    margin: 0 0 20px; } }

@media all and (min-width: 940px) and (max-width: 1280px) {
  .section_icon {
    margin: 0 0 25px; } }

@media all and (min-width: 1281px) {
  .section_icon {
    margin: 0 0 25px; } }

.section_video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1; }

.social {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  width: 255px;
  height: 100px;
  margin: 42px auto 48px;
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  border-bottom: 1px solid rgba(255, 255, 255, 0.12); }

.specifications_content {
  margin: 0;
  padding: 0;
  list-style: none; }

.specifications_item {
  position: relative;
  padding: 0 0 0 40px; }
  .specifications_item:not(:last-child) {
    margin: 0 0 22px; }

.specifications_icon {
  position: absolute;
  top: 5px;
  left: 0; }

.specifications_title {
  margin: 0 0 4px;
  font-family: "AkzidenzGroteskProMd", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 23px;
  text-transform: uppercase;
  letter-spacing: 1px; }

.specifications_description {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0; }

.video {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  background-image: url("/assets/images/video.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  @media (max-width: 639px) {
    .video {
      height: 375px;
      margin: 0 0 30px; } }
  @media all and (min-width: 640px) and (max-width: 939px) {
    .video {
      height: 370px;
      margin: 0 0 95px; } }
  @media all and (min-width: 940px) and (max-width: 1280px) {
    .video {
      height: 495px;
      margin: 0 0 130px; } }
  @media all and (min-width: 1281px) {
    .video {
      height: 665px;
      margin: 0 0 130px; } }
  .video_content {
    flex: 0 1 auto;
    text-align: center; }
  .video_play {
    display: inline-block;
    width: 96px;
    height: 96px;
    margin: 10px 0 0;
    border: none;
    background-color: transparent;
    background-image: url("/assets/images/play-video.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    vertical-align: top;
    cursor: pointer; }
    .video_play:hover {
      background-position: -96px 0; }
