/*
    Font family:

    font-family: "BorkDisplayRegilar", Helvetica, Arial, sans-serif;
    font-family: "AkzidenzGroteskProLight", Helvetica, Arial, sans-serif;
    font-family: "AkzidenzGroteskProRegular", Helvetica, Arial, sans-serif;
    font-family: "AkzidenzGroteskProMd", Helvetica, Arial, sans-serif;
    font-family: "AkzidenzGroteskProExt", Helvetica, Arial, sans-serif;

    Media queries:

    1) 320 ...767 - mobile
    2) 768 ... 1023 - tablet
    3) 1024 ...1439 - desktop
    4) 1440 ... infinite - extra desktop

    Phone
    @media all and (min-width: 320px) and (max-width: 767px) {

    }

    Tablet
    @media all and (min-width: 768px) and (max-width: 1023px) {

    }

    Desktop
    @media all and (min-width: 1024px) and (max-width: 1439px) {

    }

    Extra dextop
    @media all and (min-width: 1440px) {

    }

*/

/* Default style */

html {
    min-height: 100%;
}

body {
    height: 100%;
    background: #1b1b1b;
    color: #fff;
    font-family: "AkzidenzGroteskProLight", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .4px;
}

h1 {
    margin: 0 0 18px;
    color: #fff;
    font-family: "BorkDisplayRegilar", Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 36px;
    word-spacing: 15px;
}

h2 {
    margin: 0 0 23px;
    color: #fff;
    font-family: "AkzidenzGroteskProExt", Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 32px;
}

h3 {
    margin: 0 0 10px;
    color: #fff;
    font-family: "AkzidenzGroteskProExt", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 28px;
}

p {
    margin: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #ccc;
    text-decoration: none;
}

button:focus {
    outline: none;
}

/* Button */

.button {
    display: inline-block;
    border: 2px solid #FC642A;
    background: transparent;
    color: #fff;
    font-family: "AkzidenzGroteskProMd", Helvetica, Arial, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    vertical-align: baseline;
    letter-spacing: 1.3px;
    cursor: pointer;
}

.button:hover {
    background: #fc642a;
}

.button__small {
    height: 35px;
    padding: 0 20px;
    border-radius: 26px;
}

.button__large {
    height: 54px;
    padding: 0 30px;
    border-radius: 37px;
}

/* Header */

.header {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
    height: 55px;
    padding: 0 25px;
    background: #000;
    line-height: 55px;
    text-align: right;
}

.header_logo {
    position: absolute;
    top: 19px;
    left: 25px;
    width: 83px;
    height: 17px;
    line-height: 17px;
}

.header_brand {
    margin: 0 25px 0 0;
    font-family: "AkzidenzGroteskProMd", Helvetica, Arial, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.header_phone {
    margin: 0 0 0 25px;
    color: #fc642a;
    font-size: 15px;
    letter-spacing: 0;
}

/* Main */

.main {
    padding: 55px 0 0;
}

/* Section */

.section {
    /*padding: 0 75px;*/
}

.section__index {
    /*height: 835px;*/
    /*background: red;*/
}

.section__intro {
    /*height: 950px;
    background: #000;
    background: green;*/
}

.section__masterpiece {
    /*height: 775px;
    background: red;*/
}

.section__video {
    /*height: 925px;*/
}

.section__quick-result {
    /*height: 1020px;
    background: #000;*/
}

.section__choose-coffee {
    /*height: 1295px;
    background: #000;*/
}

.section__frothing {
    /*height: 925px;
    background: #000;*/
}

.section__specifications {
    /*padding: 30px 0 50px;
    background-color: #151515;
    background-image: url("../images/pattern.png");
    background-repeat: repeat;
    background-position: center;*/
}

.section__boutiques {
    /*height: 645px;
    background-image: url("../images/section-bg-boutiques.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
}

.section__contacts {
    /*height: 420px;*/
}

/* Index section */

.index {
    position: relative;
    top: 160px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-end;
}

.index_content {
    flex: 0 1 50%;
}

.order {
    margin: 32px 0 0;
}

.order_price {
    display: inline-block;
    margin: 0 0 0 20px;
    font-size: 18px;
    line-height: 27px;
    vertical-align: baseline;
}

/* Intro section */

.intro {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.intro_content {
    flex: 0 1 50%;
    text-align: center;
}

/* Masterpiece section */

.masterpiece {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.masterpiece_content {
    flex: 0 1 40%;
}

.masterpiece_creatista {
    display: inline-block;
    margin: 65px 0 0;
    vertical-align: top;
}

/* Video section */

.video {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    background-image: url("../images/video-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.video_content {
    flex: 0 1 auto;
    text-align: center;
}

.video_play {
    display: inline-block;
    width: 96px;
    height: 96px;
    margin: 10px 0 0;
    border: none;
    background-color: transparent;
    background-image: url("../images/play-video.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    vertical-align: top;
    cursor: pointer;
}

.video_play:hover {
    background-position: -96px 0;
}

/* Quick Result section */

.quick-result {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.quick-result_content {
    flex: 0 1 30%;
    text-align: center;
}

/* Choose Coffee section */

.choose-coffee {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
}

.choose-coffee_content {
    flex: 0 1 45%;
    text-align: center;
}

/* Frothing section */

.frothing {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.frothing_content {
    flex: 0 1 50%;
    text-align: center;
}

/* Specifications section */

.model {
    position: relative;
    width: 418px;
    height: 540px;
    margin: 45px auto 65px;
}

.model_signature {
    position: absolute;
    bottom: 0;
    left: 100%;
    width: 242px;
    height: 40px;
}

.specifications {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-around;
}

.specifications_content {
    flex: 0 1 22%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.specifications_item {
    position: relative;
    padding: 0 0 0 40px;
}
.specifications_item:not(:last-child) {
    margin: 0 0 22px;
}

.specifications_icon {
    position: absolute;
    top: 5px;
    left: 0;
}

.specifications_title {
    margin: 0 0 4px;
    font-family: "AkzidenzGroteskProMd", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.specifications_description {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
}

/* Boutiques section */

.boutiques {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

.boutiques_content {
    width: 50%;
    text-align: center;
}

/* Contacts section */

.contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

.contacts_content {
    flex: 0 1 39%;
    text-align: center;
}

.contacts_content__phone {
    padding: 4px 0 0; /* Compensations different icon height */
}

.contacts_icon {
    margin: 0 0 27px;
}

.contacts_link {
    display: inline-block;
    font-family: "AkzidenzGroteskProMd", Helvetica, Arial, sans-serif;
    line-height: 16px;
    text-transform: uppercase;
    vertical-align: top;
    letter-spacing: 1.3px;
}

.contacts_link__order {
    margin: 26px 0 0;
    font-size: 13px;
    letter-spacing: 1.3px;
}

.contacts_link__phone {
    margin: 25px 0 0;
    font-size: 14px;
    letter-spacing: 1.4px;
}

/* Container */

.container {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

@media all and (min-width: 320px) and (max-width: 767px) {
    .container {
        margin-right: 10px;
        margin-left: 10px;
        background: red;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    .container {
        margin-right: 50px;
        margin-left: 50px;
        background: green;
    }
}

@media all and (min-width: 1024px) and (max-width: 1439px) {
    .container {
        margin-right: 75px;
        margin-left: 75px;
        background: blue;
    }
}

@media all and (min-width: 1440px) {
    .container {
        margin-right: 195px;
        margin-left: 195px;
        background: yellow;
    }
}

/* Footer */

.footer {
    padding: 30px 0;
    text-align: center;
    opacity: .5;
}
