html,
body {
  margin: 0;
  padding: 0;
  background-color: #8f8480; }

.chat-demo-container {
  position: fixed;
  right: 20px;
  bottom: 20px; }

@font-face {
  font-family: 'Akzidenz-Grotesk Pro Ext';
  font-weight: 400;
  font-style: normal;
  src: url("/assets/fonts/akzidenzgroteskpro-ext.woff") format("woff"); }

@font-face {
  font-family: 'Akzidenz-Grotesk Pro';
  font-weight: 300;
  font-style: normal;
  src: url("/assets/fonts/akzidenzgroteskpro-light.woff") format("woff"); }

@font-face {
  font-family: 'Akzidenz-Grotesk Pro';
  font-weight: 400;
  font-style: normal;
  src: url("/assets/fonts/akzidenzgroteskpro-regular.woff") format("woff"); }

@font-face {
  font-family: 'Akzidenz-Grotesk Pro';
  font-weight: 500;
  font-style: normal;
  src: url("/assets/fonts/akzidenzgroteskpro-md.woff") format("woff"); }

.chat-wrapper {
  text-align: right; }

.chat-toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(243, 112, 33, 0.9);
  vertical-align: top;
  cursor: pointer;
  transition: background-color .2s; }
  .chat-toggle:hover {
    background-color: #f37021; }
  .chat-toggle::before, .chat-toggle::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    content: ''; }
  .chat-toggle::before {
    background-image: url("/assets/images/chat-open.svg");
    opacity: 1; }
  .chat-toggle::after {
    background-image: url("/assets/images/chat-close.svg");
    opacity: 0; }
  .chat-toggle--opened::before {
    opacity: 0; }
  .chat-toggle--opened::after {
    opacity: 1; }

.chat {
  display: flex;
  flex-flow: column nowrap;
  width: 360px;
  height: 600px;
  margin: 0 0 18px;
  border-radius: 16px;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  font-family: 'Akzidenz-Grotesk Pro';
  font-weight: 400;
  text-align: left; }
  @media all and (max-width: 320px) {
    .chat {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 999;
      width: auto;
      height: auto;
      margin: 0;
      border-radius: 0; } }
  .chat__header {
    display: flex;
    flex: 0 0 60px;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    border-radius: 16px 16px 0 0;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.14);
    background: #fff;
    color: #8f8480;
    font-size: 18px;
    line-height: 23px; }
    @media all and (max-width: 320px) {
      .chat__header {
        border-radius: 0; } }
  .chat__body {
    flex: 1 1 100%;
    box-sizing: border-box;
    padding: 10px 0;
    overflow: hidden;
    overflow-y: auto; }
  .chat__footer {
    position: relative;
    flex: 0 0 110px;
    box-sizing: border-box;
    padding: 15px 0;
    border-top: 1px solid #e9e9e9;
    border-radius: 0 0 16px 16px; }
    @media all and (max-width: 320px) {
      .chat__footer {
        flex: 0 0 20px;
        border-radius: 0; } }
  .chat__item {
    position: relative;
    margin: 0 0 3px;
    padding: 0 15px 0 55px; }
    .chat__item--own {
      text-align: right; }
      .chat__item--own:not(:last-child) {
        margin: 0 0 13px; }
    .chat__item-avatar {
      position: absolute;
      bottom: 21px;
      left: 15px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-image: url("/assets/images/chat-avatar.svg");
      background-repeat: no-repeat;
      background-position: center; }
    .chat__item-name {
      margin: 0 0 7px;
      color: #3a3330;
      font-size: 12px;
      font-weight: 700;
      line-height: 15px; }
    .chat__item-message-wrapper:not(:last-child) {
      margin: 0 0 3px; }
    .chat__item-message {
      display: inline-block;
      box-sizing: border-box;
      max-width: 100%;
      min-height: 39px;
      padding: 8px 12px 10px;
      border-radius: 0 16px 16px 0;
      background-color: #8f8480;
      color: #fff;
      font-size: 16px;
      line-height: 21px;
      vertical-align: top;
      word-wrap: break-word; }
      .chat__item-message-wrapper:first-child .chat__item-message {
        border-radius: 16px 16px 16px 0; }
      .chat__item-message-wrapper:last-child .chat__item-message {
        border-radius: 0 16px 16px; }
      .chat__item--own .chat__item-message-wrapper .chat__item-message {
        border-radius: 16px 16 0 16px;
        background-color: rgba(151, 139, 135, 0.5);
        color: #3a3330; }
      .chat__item--own .chat__item-message-wrapper:first-child .chat__item-message {
        border-radius: 16px 16px 0; }
      .chat__item--own .chat__item-message-wrapper:last-child .chat__item-message {
        border-radius: 16px 0 16px 16px; }
    .chat__item-message-file-name {
      position: relative;
      padding: 0 0 0 26px; }
      .chat__item-message-file-name::before {
        position: absolute;
        top: 5px;
        left: 0;
        width: 18px;
        height: 22px;
        background-image: url("/assets/images/chat-file-text.svg");
        background-repeat: no-repeat;
        background-position: center;
        content: ''; }
    .chat__item-message-file-size {
      padding: 0 0 0 26px;
      color: rgba(58, 51, 48, 0.5);
      font-size: 12px;
      line-height: 16px;
      text-align: left; }
    .chat__item-status {
      display: inline-block;
      background-repeat: no-repeat;
      background-position: center;
      vertical-align: top; }
      .chat__item--read .chat__item-status {
        width: 15px;
        height: 16px;
        background-image: url("/assets/images/chat-read.svg"); }
      .chat__item--unread .chat__item-status {
        width: 11px;
        height: 16px;
        background-image: url("/assets/images/chat-unread.svg"); }
    .chat__item-time {
      display: inline-block;
      color: #8f8480;
      font-size: 12px;
      line-height: 16px;
      vertical-align: top; }
  .chat__faq {
    position: relative;
    flex: 0 0 auto;
    box-sizing: border-box;
    padding: 15px 0 20px;
    border-top: 1px solid #e9e9e9;
    text-align: center; }
    .chat__faq-title {
      margin: 0 0 22px;
      color: #8f8480;
      font-size: 12px;
      line-height: 16px;
      text-transform: uppercase; }
    .chat__faq-link {
      font-size: 16px;
      line-height: 21px; }
      .chat__faq-link:not(:last-child) {
        margin: 0 0 15px; }
      .chat__faq-link > a {
        color: #3a3330;
        text-decoration: none; }
    .chat__faq-hide {
      position: absolute;
      top: 10px;
      right: 15px;
      width: 18px;
      height: 18px;
      background-image: url("/assets/images/chat-hide.svg");
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer; }
  .chat__file {
    position: relative;
    display: flex;
    flex: 0 0 45px;
    flex-flow: row nowrap;
    align-items: center;
    box-sizing: border-box;
    padding: 0 48px 0 45px;
    border-top: 1px solid #e9e9e9;
    color: #3a3330;
    font-size: 14px;
    line-height: 18px; }
    .chat__file::before {
      position: absolute;
      top: 50%;
      left: 15px;
      width: 20px;
      height: 20px;
      margin: -10px 0 0;
      background-image: url("/assets/images/chat-image.svg");
      background-repeat: no-repeat;
      background-position: center;
      content: ''; }
    .chat__file-name {
      display: inline-block;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: top; }
    .chat__file-size {
      position: relative;
      color: rgba(143, 132, 128, 0.5);
      font-size: 15px;
      line-height: 18px;
      white-space: nowrap;
      opacity: .5; }
      .chat__file-size::before {
        padding: 0 10px;
        content: '|'; }
    .chat__file-hide {
      position: absolute;
      top: 50%;
      right: 15px;
      width: 18px;
      height: 18px;
      margin: -9px 0 0;
      background-image: url("/assets/images/chat-hide.svg");
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer; }
  .chat__textarea {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    overflow-y: hidden;
    border: none;
    border-radius: 0 0 16px 16px;
    background-color: #fff;
    color: #000;
    font-family: 'Akzidenz-Grotesk Pro';
    font-size: 16px;
    line-height: 20px;
    resize: none; }
    @media all and (max-width: 320px) {
      .chat__textarea {
        height: 20px;
        padding-left: 45px;
        border-radius: 0; } }
    .chat__textarea:focus {
      outline: none; }
    .chat__textarea::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.25); }
    .chat__textarea::-moz-placeholder {
      color: rgba(0, 0, 0, 0.25); }
    .chat__textarea:-ms-input-placeholder {
      color: rgba(0, 0, 0, 0.25); }
    .chat__textarea:-moz-placeholder {
      color: rgba(0, 0, 0, 0.25); }
  .chat__submit {
    position: absolute;
    top: 9px;
    right: 11px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #f37021;
    background-image: url("/assets/images/chat-submit.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer; }
    @media all and (max-width: 320px) {
      .chat__submit {
        top: 50%;
        transform: translateY(-50%); } }
  .chat__smile {
    position: absolute;
    top: 53px;
    right: 19px;
    width: 20px;
    height: 20px;
    background-image: url("/assets/images/chat-smile.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer; }
    @media all and (max-width: 320px) {
      .chat__smile {
        display: none; } }
  .chat__attach {
    position: absolute;
    top: 82px;
    right: 19px;
    width: 18px;
    height: 18px;
    background-image: url("/assets/images/chat-attach.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer; }
    @media all and (max-width: 320px) {
      .chat__attach {
        top: 16px;
        left: 15px; } }
